body {
  background-color: rgb(0, 0, 0);
  font-family: georgia, serif;
  font-size: 16px;
  color: rgb(205, 205, 205);
  background-image: url('./images/bg-mikko.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

h1 {
  color: rgb(255, 255, 255);
}

#main {
  position: static;
  width: 850px;
  z-index: 1;
  margin: 0 auto;
  padding: 50px;
  align: left;
}

@media handheld {
 #main {
  width: 400px;
 }

}

